<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640802419213-8l3c96ktldaq97duit1huuqg091c694t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640802419213-8l3c96ktldaq97duit1huuqg091c694t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>640802419213-33ghtt2ampa4p92koullp40jdk5hnh8f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxZVhMcM9PDxV-2em3JsP24EwyEZu1h-4</string>
	<key>GCM_SENDER_ID</key>
	<string>640802419213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.graduationproject.liveTracking</string>
	<key>PROJECT_ID</key>
	<string>live-tracking-ce452</string>
	<key>STORAGE_BUCKET</key>
	<string>live-tracking-ce452.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640802419213:ios:cc4de59abb8082fb535b44</string>
</dict>
</plist>